body
{
    background-color: black;
}
h1
{
    color: blue;
}
p{
    color: whitesmoke;
}
a
{
    color: blue;
    display: block; 
    font-family: 'Times New Roman';
    text-decoration: none;
    position: relative;
    display: inline-block;   
}
a:hover
{

    color:violet;
    transition: all.3s;
    background-color: blue;
}
.centrar-imagen
{
    text-align: center;
}
label
{
    color: blue;
}